header {
  background-color: black;
  margin: 40px;
  display: flex;
}
ul {
  margin-left: 50px;
  width: 500px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header li:hover {
  color: lightgrey;
}
header img {
  width: 200px;
}

body {
  background-color: black;
  color: white;
}

h2 {
  font-size: 20px;
}

.section {
  margin: 40px 0 45px 40px;
}
.movies {
  display: flex;
  overflow-x: auto;
}

.movies::-webkit-scrollbar {
  display: none;
}
.movies img {
  margin-right: 10px;
}
.movies img:hover {
  filter: brightness(1.2);
}
